/* Footer Container */
.footer {
    background-color: #263748;
    color: #ffffff;
    padding: 30px 0;
    height: 52vh;
    padding-top: 2%;
  }
  
  /* Footer Sections */
  .footer-section {
    margin-bottom: 30px;
    padding-left: 20px;
  }
  
  .footer-section h3 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 20px;
    margin-right: 100px;
    width: 80%;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.6;
  }
  
  .footer-section ul li svg {
    margin-right: 10px;
    color: #ffffff;
  }
  .logo-info {
    align-items: center; /* Align items vertically */
  }
  
  .logo-info img {
    height: 25vh;
  }
  
  .logo-info p {
    margin: 0; 
    padding-left: 10px;
    width: 70%;
    font-weight: bold;
  }
  #know_more{
    margin-left: 20%;
  }
  #quick_links{
    margin-left: 20%;
  }
  #social_media{
    margin-left: 20%;
  }
  /* Social Media Icons */
  .social-media ul {
    display: flex;
  }
  
  .social-media ul li {
    margin-right: 15px;
  }
  
  .social-media ul li:last-child {
    margin-right: 0;
  }
  
  .social-media ul li svg {
    font-size: 24px;
  }
  
  /* Footer Bottom */
  .footer-bottom {
    background-color: #1a252f;
    padding: 20px 0;
    margin-top: 1.5%;
  }
  
  .footer-bottom p {
    margin: 0;
    font-size: 14px;
    text-align: center;
  }
  
  /* Additional Styling */
  .footer-section ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-section ul li a:hover {
    color: #f39c12;
  }
  
  .footer-section ul li svg:hover {
    color: #f39c12;
  }

  .all-footer{
    display: flex;
  }