.batteryreq, .fuelreq, .towreq, .tyrereq{
    width: 100%;
    display: inline-block;
    background-color: #61a5c2;
}
.form_box{
    width: 100%;
    height: auto;
    padding-top: 2.3rem;
    padding-bottom: 2.3rem;
}
.fill_name{
    width: 47%;
    height: auto;
    margin: 0rem 0 0 26rem;
    border-radius: 7px;
    border: 1px solid rgb(210, 208, 208);
    background-color: rgba(255,255,255);
    box-shadow: inset 0rem 0.1rem 0.1rem 0rem #00000040;
    
}
#lpn{
    display: flex;
}
.license{
    width: 6%;
    margin-right: 1%;
}
.edit_other{
    width: 47%;
    height: auto;
    margin: 2rem 0 0 26rem;
    border-radius: 7px;
    border: 1px solid rgb(210, 208, 208);
    background-color: #fff;
    box-shadow: inset 0rem 0.1rem 0.1rem 0rem #00000040;
}
.edit_address{
    width: 50%;
    height: auto;
    margin: 2rem 0 0 21rem;
    border-radius: 7px;
    border: 1px solid rgb(210, 208, 208);
    background-color: #fff;
    box-shadow: inset 0rem 0.1rem 0.1rem 0rem #00000040;
}
.form_btn_tag{
    margin: 0 0 0 2rem;
    display: flex;
}
.pf_name{
    font-weight: bold;
    margin: 1rem 0 0 0;
}
.personal_pf{
    font-size: 0.8rem;
    margin: 0 0 0.6rem 0;
}
.hz_line{
    width: 95%;
    border-bottom: 1.5px solid rgb(210, 208, 208);
    margin: 0.2rem 0;
}
.pf_details{
    margin-left: 2rem;
}
.my_name{
    margin: 0;
    font-size: 0.9rem;
}
.edit_form{
    margin: 2rem 0 0 0;
}
.all_labels{
    width: 55%;
    height: auto;
    display: block;
    margin: 0.5rem 0 0 2rem;
    font-weight: bold;
    font-size: 0.9rem;
}
.all_inp_label{
    width: 75%;
    height: 4vh;
    margin: 0.2rem 0 1rem 2rem;
    padding-left: 0.8rem;
    border-radius: 5px;
    border: 1px solid rgb(210, 208, 208);
}
#fuelType, #prefBatteryType, #currBatteryType{
    width: 77.3%;
    height: 4.5vh;
}

.add_note{
    width: 35%;
    height: auto;
    display: block;
    margin: 1rem 0 0 2rem;
    font-weight: bold;
    font-size: 0.9rem;
}
#add_note{
    width: 60%;
    height: 10vh;
    margin: 0.2rem 0 1rem 2rem;
    border-radius: 5px;
    border: 1px solid rgb(210, 208, 208);
}
.submit_request {
    margin: 1rem 0 0 18rem;
    background-image: linear-gradient(to right, #61e153 0%, #a8e063  51%, #61e153  100%);
    padding: 0.7rem 2.6rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;      
    border: 1.5px solid;        
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}
.submit_request:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}