.peach-rectangle {
    height: 400px; /* Adjust height of peach rectangle */
    background-color: peachpuff; /* Adjust peach color */
    width: 100%; /* Make it span the entire width */
    margin-top: 20px; /* Add margin-top to create space above the rectangle */
    position: relative; /* Position relative for absolute positioning of smaller rectangles */
}

.curved-rectangles {
    position: absolute; /* Position absolute to position smaller rectangles */
    top: 50%; /* Position vertically at 50% */
    right: 70px; /* Adjust right position */
    transform: translateY(-50%); /* Adjust vertical centering */
    display: flex; /* Use flexbox for horizontal positioning */
    flex-direction: column; /* Align rectangles vertically */
}

.curved-rectangle {
    width: 50px; /* Adjust width of curved rectangles */
    height: 100px; /* Adjust height of curved rectangles */
    background-color: #fff; /* Adjust background color */
    border-radius: 50px; /* Make it half of the height */
    margin-left: 20px; /* Adjust spacing between curved rectangles */
}

/* Adjust margin-left for the first rectangle */
.curved-rectangle.left:first-child {
    margin-left: 0;
}
