.horizontal_bar {
    width: 100%;
    border-top: 1px solid rgb(127, 127, 127);
    background-color: #000;
  }
  
  .all_buttons {
    display: flex;
    margin: 0 0 0 10%;
  }
  
  .bar_button p {
    margin: 0 0 0.2rem 0.5rem;
    text-align: center;
  }
  
  .bar_button {
    width: 16%;
    padding: 0.9%;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    color: #fff;
    position: relative;
  }
  
  .bar_button:hover,
  .bar_button:active,
  .bar_button:focus {
    background-color: #88bdf2;
    color: #000;
  }
  
  .active-link {
    background-color: #88bdf2;
    color: #000;
  }
  
  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #000;
    border-radius: 0.5rem;
    overflow: hidden;
    z-index: 999; /* Ensure higher than other content */
  }
  
  
  .dropdown-link {
    display: block;
    padding: 0.5rem;
    color: #fff;
    text-decoration: none;
  }
  
  .dropdown-link:hover {
    background-color: #88bdf2;
  }
  