.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #365690;
    color: #fff;
}

.left-section {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px; 
    height: 50px;
    margin-right: 10px;
}

.logo span {
    align-items: center;
}

.nav-links {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links a {
    margin: 0 30px; /* Adjust spacing between links */
    color: #fff;
    text-align: center;
}

.right-section .btn {
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.right-section .btn + .btn {
    margin-left: 10px;
}
