.form_box{
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.fill_name{
    width: 47%;
    height: 92vh;
    margin: 0rem 0 0 26rem;
    border-radius: 7px;
    border: 1px solid rgb(210, 208, 208);
    background-color: #fff;
    box-shadow: inset 0rem 0.1rem 0.1rem 0rem #00000040;
    
}
.edit_other{
    width: 47%;
    height: 22vh;
    margin: 2rem 0 0 26rem;
    border-radius: 7px;
    border: 1px solid rgb(210, 208, 208);
    background-color: #fff;
    box-shadow: inset 0rem 0.1rem 0.1rem 0rem #00000040;
}
.edit_address{
    width: 50%;
    height: 40vh;
    margin: 2rem 0 0 21rem;
    border-radius: 7px;
    border: 1px solid rgb(210, 208, 208);
    background-color: #fff;
    box-shadow: inset 0rem 0.1rem 0.1rem 0rem #00000040;
}
.form_btn_tag{
    margin: 0 0 0 2rem;
    display: flex;
}
.pf_name{
    font-weight: bold;
    margin: 1rem 0 0 0;
}
.personal_pf{
    font-size: 0.8rem;
    margin: 0 0 0.6rem 0;
}
.hz_line{
    width: 95%;
    border-bottom: 1.5px solid rgb(210, 208, 208);
    margin: 0.2rem 0;
}
.pf_details{
    margin-left: 2rem;
}
.my_name{
    margin: 0;
    font-size: 0.9rem;
}
.edit_form{
    margin: 2rem 0 0 0;
}
.fullname, .pf_email, .vh_model, .vh_noplate, .vh_location{
    width: 35%;
    height: 4vh;
    display: block;
    margin: 0rem 0 0 2rem;
    font-weight: bold;
    font-size: 0.9rem;
}
.tow_reason{
    width: 55%;
    height: 4vh;
    display: block;
    margin: 0rem 0 0 2rem;
    font-weight: bold;
    font-size: 0.9rem;
}
#fullname, #pf_email, #tow_reason, #vh_model, #vh_noplate, #vh_location{
    width: 75%;
    height: 4vh;
    margin: 0rem 0 1rem 2rem;
    border-radius: 5px;
    border: 1px solid rgb(210, 208, 208);
}
.add_note{
    width: 35%;
    height: 4vh;
    display: block;
    margin: 1rem 0 0 2rem;
    font-weight: bold;
    font-size: 0.9rem;
}
#add_note{
    width: 60%;
    height: 10vh;
    margin: 0rem 0 1rem 2rem;
    border-radius: 5px;
    border: 1px solid rgb(210, 208, 208);
}
.submit_request{
    margin: 1rem 0 0 21rem;
    height: 5vh;
    width: 30%;
    font-size: 1rem;
    color: rgb(97, 225, 83);
    border-radius: 0.31rem;
    border: 1.5px solid rgb(97, 225, 83);
    font-weight: bold;
    background-color: #fff;
}
.submit_request:hover{
    background-color: rgb(97, 225, 83);
    color: #333;
}